<div class="container">

  <input [(ngModel)]="_expand" placeholder="expand" />
  <input [(ngModel)]="_filter" placeholder="filter" />
  <input [(ngModel)]="_select" placeholder="select" />
  <input [(ngModel)]="_orderBy" placeholder="orderBy" />
  <input [(ngModel)]="_top" placeholder="top" type="number" />
  <input [(ngModel)]="_skip" placeholder="skip" type="number" />
  <input [(ngModel)]="_count" placeholder="count" type="checkbox" />
  <button (click)="getList()">Get</button>
  <pagination [totalItems]="_listWithCount?.count" [(ngModel)]="_paginationData.currentPage" [maxSize]="_paginationData.maxSize"
  class="pagination-sm" [boundaryLinks]="_paginationData.isBoundaryLinks" [rotate]="_paginationData.isRotate" (numPages)="numPages = $event"
  [itemsPerPage]="_top">
    <!--(pageChanged)="pageChanged($event)" only set on 1 pagination control or event will fire again-->
  </pagination>

  <!--table-->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-baddressed">
      <thead class="thead-default">
        <tr>
          <th style="min-width: 100px;">Actions</th>
          <th>
            <button class="btn btn-default" (click)="onSortingList('addressId')"> Address ID
              <i *ngIf="_orderBy === 'addressId'" class="glyphicon" [class.glyphicon-arrow-down]="!_isAscending" [class.glyphicon-arrow-up]="_isAscending"></i>
            </button>
          </th>
          <th>
            <button class="btn btn-default" (click)="onSortingList('addressLine1')"> Address Line 1
              <i *ngIf="_orderBy === 'addressLine1'" class="glyphicon" [class.glyphicon-arrow-down]="!_isAscending" [class.glyphicon-arrow-up]="_isAscending"></i>
            </button>
          </th>
          <th>
            <button class="btn btn-default" (click)="onSortingList('addressLine2')"> Address Line 2
              <i *ngIf="_orderBy === 'addressLine2'" class="glyphicon" [class.glyphicon-arrow-down]="!_isAscending" [class.glyphicon-arrow-up]="_isAscending"></i>
            </button>
          </th>
          <th>
            <button class="btn btn-default" (click)="onSortingList('city')"> City
              <i *ngIf="_orderBy === 'city'" class="glyphicon" [class.glyphicon-arrow-down]="!_isAscending" [class.glyphicon-arrow-up]="_isAscending"></i>
            </button>
          </th>
          <th>
            <button class="btn btn-default" (click)="onSortingList('stateProvinceId')"> StateProvinceId
              <i *ngIf="_orderBy === 'stateProvinceId'" class="glyphicon glyphicon-arrow-down"></i>
            </button>
          </th>
          <th>Postal Code</th>
          <th>Row guid</th>
          <th>Modified Date</th>
          <th>Spatial Location</th>
          <th>Debug</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#item of _listWithCount?.list">
          <td>
            <button (click)="edit(item[_keyName])" class="btn btn-sm btn-primary glyphicon glyphicon-edit"></button>
            <button (click)="delete(item[_keyName])" class="btn btn-sm btn-danger glyphicon glyphicon-remove"></button>
          </td>
          <td>{{item.addressId}}</td>
          <td>{{item.addressLine1}}</td>
          <td>{{item.addressLine2}}</td>
          <td>{{item.city}}</td>
          <td>{{item.stateProvinceId | dataTransform:_stateProvinceList:"stateProvinceId":"name"}}</td>
          <td>{{item.postalCode}}</td>
          <td>{{item.rowguid}}</td>
          <!--https://github.com/angular/angular/issues/6336-->
          <td>{{item.modifiedDate | date:"MM/dd/yy"}}</td>
          <td>{{item.spatialLocation}}</td>
          <td>{{item}}</td>
        </tr>
      </tbody>
      <tfoot class="thead-default">
        <tr>
          <th>Actions</th>
          <th>Address ID</th>
          <th>Address Line 1</th>
          <th>Address Line 2</th>
          <th>City</th>
          <th>StateProvinceId</th>
          <th>Postal Code</th>
          <th>Row guid</th>
          <th>Modified Date</th>
          <th>Spatial Location</th>
          <th>Debug</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!--pager-->
  <pagination [totalItems]="_listWithCount?.count" [(ngModel)]="_paginationData.currentPage" [maxSize]="_paginationData.maxSize"
  class="pagination-sm" [boundaryLinks]="_paginationData.isBoundaryLinks" [rotate]="_paginationData.isRotate" (numPages)="numPages = $event"
  (pageChanged)="pageChanged($event)" [itemsPerPage]="_top"></pagination>
</div>
