<div class="container">

  <!--<h1>Item</h1>-->
  <form (ngSubmit)="onSubmit()" #addressItemForm="ngForm" *ngIf="item" [ngFormModel]="myForm">

    <!--<pre>{{item | json}}</pre>-->

    <!--id-->
    <div class="form-group">
      <label for="id">Address Line 1</label>
      <input id="id" ngControl="id" type="text" class="form-control" [(ngModel)]="item.AddressId">
      <validation-message control="id"></validation-message>
      <!--<validation-message control="name"></validation-message>-->
      <!--<div [hidden]="id.valid" class="alert alert-danger">
        ID is required
      </div>-->
    </div>

    <div class="form-group">
      <label for="addressLine1">Address Line 1</label>
      <input id="addressLine1" ngControl="addressLine1" type="text" class="form-control" [(ngModel)]="item.AddressLine1">
      <validation-message control="addressLine1"></validation-message>
    </div>

    <!--<div class="form-group">
      <label for="addressLine2">Address Line 2</label>
      <input id="addressLine2" ngControl="addressLine2" type="text" class="form-control" [(ngModel)]="item.addressLine2">
      <validation-message control="addressLine2"></validation-message>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input id="city" ngControl="city" type="text" class="form-control" [(ngModel)]="item.city">
      <validation-message control="city"></validation-message>
    </div>

    <div class="form-group">
      <label for="stateId">State</label>
      <input id="stateId" ngControl="stateId" type="text" class="form-control" [(ngModel)]="item.stateId">
      <validation-message control="stateId"></validation-message>
    </div>

    <div class="form-group">
      <label for="postalCode">Postal Code</label>
      <input id="postalCode" ngControl="postalCode" type="text" class="form-control" [(ngModel)]="item.postalCode">
      <validation-message control="postalCode"></validation-message>
    </div>

    <div class="form-group">
      <label for="addressLine1">Address Line 1</label>
      <input id="addressLine1" ngControl="addressLine1" type="text" class="form-control" [(ngModel)]="item.AddressLine1">
      <validation-message control="addressLine1"></validation-message>
    </div>

    <div class="form-group">
      <label for="rowguid">Address Line 1</label>
      <input id="rowguid" ngControl="rowguid" type="text" class="form-control" [(ngModel)]="item.rowguid">
      <validation-message control="rowguid"></validation-message>
    </div>

    <div class="form-group">
      <label for="addressLine1">Address Line 1</label>
      <input id="addressLine1" ngControl="addressLine1" type="text" class="form-control" [(ngModel)]="item.AddressLine1">
      <validation-message control="addressLine1"></validation-message>
    </div>

-->
    <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>

    <button type="submit" [disabled]="!addressItemForm.form.valid" class="btn btn-primary">Submit</button>

  </form>

</div>

<!--<pre>{{model | json}}</pre>-->