<div class="container">
  <!--<h1>Admin</h1>-->

  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar1">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar1">
      <!--<a class="navbar-brand" href="#">Responsive navbar</a>-->
      <ul class="nav navbar-nav" router-active="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" ['./Client'] ">Client</a>
          <!--EXCEPTION: Link "["Client"]" is ambiguous, use "./" or "../" to disambiguate. in [ ['Client']  in AdminComponent@35:30]-->
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" ['Order'] ">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" ['Product'] ">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" ['Supplier'] ">Supplier</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]=" ['Address'] ">Address</a>
        </li>

      </ul>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>

</div>
