<div class="preview-wrapper">
  <div class="dirty-message" *ngIf="isDirty">
    This preview is out of date. Please <a (click)="loadLatest()">reload</a> to see the latest.
  </div>

  <!--<ng-include
    src="'templates/error-presenter.html'"
    ng-controller="ErrorPresenterCtrl"
    *ngIf="errors.length || warnings.length">
  </ng-include>-->

  <!--SPEC INFO-->
  <specInfo [model]="_specs"></specInfo>
  <!--<ng-include src="'templates/_specs-info.html'"></ng-include>-->

  <!--SECURITY-->
  <!--<ng-include src="'templates/security.html'" *ngIf="_specs.securityDefinitions">
  </ng-include>-->
  <security model="_specs"></security>

  <!--TAGS-->
  <!--<ng-include src="'templates/tags.html'"></ng-include>-->
  <tags model="_specs"></tags>


  <!--PATH HEADER-->
  <header>
    <h3 class="section-header">
      <a (click)="
          _specs.paths.$folded = !_specs.paths.$folded;
          foldEditor(['paths'], _specs.paths.$folded);">

          <span>Paths</span>
      </a>

      <span class="on-hover">
        <a (click)="listAllOperation()">List all operations</a>
      </span>
    </h3>
  </header>

  <!--PATHS-->
  <!--_specs.paths {{_specs.paths | json}}-->
  <ul class="paths" collapse-when="_specs.paths.$folded">
    <li *ngFor="#pathKeyValuePair of _specs.paths | mapToIterable">
      <path [model]="pathKeyValuePair.value" [name]="pathKeyValuePair.key" [specs]="_specs"></path>
    </li>
    <!--<li
      class="path"
      ng-include
      src="'templates/path.html'"
      ng-repeat="(pathName, path) in _specs.paths"
      *ngIf="showPath(path, pathName)">
    </li>-->
  </ul>


  <!--MODELS-->
  <header *ngIf="_specs.definitions">
    <h3 class="section-header">
      <a (click)="
        _specs.definitions.$folded = !_specs.definitions.$folded;
        foldEditor(['definitions'], _specs.definitions.$folded);
      ">Models</a>
      <span class="on-hover">
        <a (click)="listAllDefnitions()">List all models</a>
      </span>
    </h3>
  </header>

  <!--<ul class="section-content definitions" *ngIf="showDefinitions(_specs.definitions)" collapse-when="_specs.definitions.$folded"
  class="models"-->
  <ul class="section-content definitions" *ngIf="_specs.definitions" collapse-when="_specs.definitions.$folded" class="models">
    <!--<pre>
{{_specs.definitions|json}}
</pre>-->

    <!--https://github.com/angular/angular/blob/master/modules/angular2/src/core/change_detection/differs/iterable_differs.ts-->
    <!--<li class="definition" ng-repeat="(modelName, model) in _specs.definitions" *ngIf="!isVendorExtension(modelName)" scroll-into-view-when="isInFocus(['definitions', modelName])">-->
    <li class="definition" *ngFor="#modelSchemaKeyValuePair of _specs.definitions | mapToIterable">
      <span *ngIf="!isVendorExtension(modelSchemaKeyValuePair.key)" scroll-into-view-when="isInFocus(['definitions', modelSchemaKeyValuePair.key])">
        <h4>
            <a
              (click)="
                modelSchemaKeyValuePair.value.$folded = !modelSchemaKeyValuePair.value.$folded;
                foldEditor(['definitions', modelSchemaKeyValuePair.key], modelSchemaKeyValuePair.value.$folded)"
              class="definition-title">
              {{modelSchemaKeyValuePair.key}}
            </a>
            <a
              class="jump-to-yaml"
              (click)="focusEdit($event, ['definitions', modelSchemaKeyValuePair.key])"
              tooltip-placement="left"
              tooltip="Jump to YAML"
              tooltip-trigger="mouseenter">
            </a>
        </h4>
        <div collapse-when="modelSchemaKeyValuePair.value.$folded">
          <schema-model model="modelSchemaKeyValuePair.value"></schema-model>
        </div>
      </span>
    </li>
  </ul>
</div>