<div class="security" ng-controller="SecurityCtrl">
  <header>
    <h3 class="section-header">
      <a (click)="
        specs.securityDefinitions.$folded = !specs.securityDefinitions.$folded;
        foldEditor(['securityDefinitions'], specs.securityDefinitions.$folded);
      ">Security</a>
    </h3>
  </header>

  <div class="security-definitions" collapse-when="specs.securityDefinitions.$folded">
    <div *ngFor="#securityDefinitionKeyValuePair of specs.securityDefinitions" class="security-definition {{securityDefinitionKeyValuePair.value.type}}">
      <header>
        <h4>
          <span class="authenticated" style="color:green" *ngIf="isAuthenticated(securityDefinitionKeyValuePair.key)" title="Authenticated">✓</span>
          <span>{{securityDefinitionKeyValuePair.key}}</span>
          <span class="security-type">({{getHumanSecurityType(securityDefinition.type)}})</span>
          <div class="authentication">
            <div>
              <button (click)="authenticate(securityDefinitionKeyValuePair.key, securityDefinition)" class="authenticate">{{isAuthenticated(securityDefinitionKeyValuePair.key) ? 'Change Authentication' : 'Authenticate'}}</button>
            </div>
          </div>
        </h4>
      </header>
      <section>
        <p *ngIf="securityDefinitionKeyValuePair.value.description">
          <!--marked="securityDefinition.description">-->
          <markdown [md]="securityDefinitionKeyValuePair.value.description"></markdown>
        </p>

        <table class="table">
          <tbody>
            <tr *ngIf="securityDefinitionKeyValuePair.value.name">
              <td>Name</td>
              <td>{{securityDefinitionKeyValuePair.value.name}}</td>
            </tr>
            <tr *ngIf="securityDefinitionKeyValuePair.value.in">
              <td>In</td>
              <td>{{securityDefinitionKeyValuePair.value.in}}</td>
            </tr>
            <tr *ngIf="securityDefinitionKeyValuePair.value.flow">
              <td>Flow</td>
              <td>{{securityDefinitionKeyValuePair.value.flow}}</td>
            </tr>
            <tr *ngIf="securityDefinitionKeyValuePair.value.authorizationUrl">
              <td>Authorization URL</td>
              <td><a target="_blank" href="{{securityDefinitionKeyValuePair.value.authorizationUrl}}">{{securityDefinitionKeyValuePair.value.authorizationUrl}}</a></td>
            </tr>
            <tr *ngIf="securityDefinitionKeyValuePair.value.tokenUrl">
              <td>Token URL</td>
              <td><a target="_blank" href="{{securityDefinitionKeyValuePair.value.tokenUrl}}">{{securityDefinitionKeyValuePair.value.tokenUrl}}</a></td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="securityDefinitionKeyValuePair.value.scopes">Scopes</h4>
        <table *ngIf="securityDefinitionKeyValuePair.value.scopes">
          <tbody>
            <tr ng-repeat="#scopeKeyValuePair in securityDefinitionKeyValuePair.value.scopes" class='scopes-table'>
              <td><strong>{{scopeKeyValuePair.key}}</strong></td>
              <td>{{scopeKeyValuePair.value}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
