<div class="root tags">
  <div class="filtered" *ngIf="routeParams.tags">
    <p>Showing only operations with following tag{{getCurrentTags().length === 1 ? '' : 's'}}:</p>
    <span class="tag tag-color-{{ tagIndexFor(tagKeyValuePair.value) }}" *ngFor="#tagKeyValuePair of getCurrentTags() | mapToIterable">{{tagKeyValuePair.value}}
      <a class="delete-tag" [routerLink]="['' , { tag: '' }]">×</a>
      <!-- UNDONE: how to link to anchor tag http://stackoverflow.com/questions/34928332/angular-2-navigate-to-internal-anchor-link-->
    </span>
  </div>
  <div class="all-tags" *ngIf="!routeParams.tags && getAllTags().length">
    <p>Filter operations by a tag:</p>
    <table *ngIf="tagsHaveDescription()">
      <tr *ngFor="#tagKeyValuePair of getAllTags() | mapToIterable">
        <td>
          <a class="tag tag-color-{{ tagIndexFor(tagKeyValuePair.value.name) }}" [routerLink]="['', { tag: tagKeyValuePair.value.name }]">{{tagKeyValuePair.value.name}}</a>
        </td>
        <td>
          <p marked="tagKeyValuePair.value.description"></p>
        </td>
      </tr>
    </table>
    <div *ngIf="!tagsHaveDescription()">
      <a
        *ngFor="#tagKeyValuePair of getAllTags() | mapToIterable"
        class="tag tag-color-{{tagIndexFor(tagKeyValuePair.name)}}"
         [routerLink]="['', { tag: tagKeyValuePair.value.name }]">
        <!--ui-sref="{tags: tag.name}">-->
          {{tagKeyValuePair.value.name}}
      </a>
    </div>
  </div>
</div>
