<div class="try-container">
  <!--ng-controller="TryOperation" -->fffffffffffff
  <div class="request">
    <!--<form schema-form="requestSchema" ng-model="requestModel" name="requestFrom"></form>-->
    <form schema-form="requestSchema" ngModel="requestModel" name="requestFrom"></form>
    <div class="raw-request raw">
      <div class="line url">
        {{operationName | uppercase}}
        <a href="{{generateUrl()}}" target="_blank" tabindex="-1">{{generateUrl()}}</a> {{httpProtocol}}
      </div>
      <div class="headers">
        <div class="header" ng-repeat="(headerName, headerValue) in getHeaders()">
          <strong>{{headerName}}</strong>: {{headerValue}}</div>
      </div>
      <pre *ngIf="hasRequestBody() && !hasFileParam" class="json-body">{{getRequestBody()}}</pre>
      <pre *ngIf="hasFileParam" class="json-body">File</pre>
    </div>
    <div class="cors-warning" *ngIf="isCrossOrigin()">
      <p>
        <span class="warning-icon">⚠️</span> This is a cross-origin call. Make sure the server at
        <code>{{specs.host}}</code> accepts {{operationName | uppercase}} requests from
        <code>{{locationHost}}</code>.
        <a href="https://github.com/swagger-api/swagger-editor/blob/master/docs/cors.md" target="_blank">Learn more</a>
      </p>
    </div>
    <!--<button (click)="makeCall()" class="{{$parent.operationName}} call" ng-disabled="xhrInProgress || !requestFrom.$valid">-->
    <button (click)="makeCall()" class="{{operationName}} call" [disabled]="xhrInProgress || !requestFrom.$valid">
      <span *ngIf="xhrInProgress">Sending...</span>
      <span *ngIf="!xhrInProgress">Send Request</span>
    </button>
  </div>

  <h3>Response</h3>
  <div class="response" *ngIf="xhr">
    <div class="response-info" ngClass="{error: error}">
      <span class="status-text">{{textStatus | uppercase}}</span>
      <span *ngIf="error">{{error}}</span>
    </div>
    <tabset justified="true" class="responses-tabs">
      <tab heading="Rendered">
        <h6>Headers</h6>
        <json-formatter json="responseHeaders" open="3"></json-formatter>
        <h6>Body</h6>
        <json-formatter *ngIf="isJson(responseData)" json="responseData" open="3"></json-formatter>
        <div *ngIf="isType(responseHeaders, 'html')" ng-bind-html="responseData"></div>
        <div *ngIf="isType(responseHeaders, 'plain')">
          <h5>Plain text:</h5>
          <pre>{{responseData}}</pre>
        </div>
      </tab>
      <tab heading="Pretty">
        <pre>{{prettyPrint(xhr.responseText)}}</pre>
      </tab>
      <tab heading="Raw">
        <div class="raw-response raw">
          <div class="status">{{httpProtocol}} {{xhr.statusCode}} {{statusText}}</div>
          <div class="resp-headers">{{xhr.getAllResponseHeaders()}}</div>
          <div>{{xhr.responseText}}</div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
