<div class="preview-wrapper">
  <!--DEFINITIONS/MODELS/CLASSES-->
  <ul>
    <li class="definition" *ngFor="#modelSchemaKeyValuePair of _specs.definitions | mapToIterable">
      DIV TYPESCRIPT INTERFACE<br/>
      Comment Properties: <input type="checkbox" [(ngModel)]="_isCommentProperties" />

      <div>
        <typescriptInterface [model]="modelSchemaKeyValuePair.value"
        [definitionName]="modelSchemaKeyValuePair.key"
        [isCommentProperties]="_isCommentProperties">
        </typescriptInterface>
      </div>

      PRE
      <pre>
KEY: {{modelSchemaKeyValuePair.key}}

VALUE: {{modelSchemaKeyValuePair.value|json}}
        </pre>
    </li>
  </ul>


</div>
