<div class="preview-wrapper">
  ace editor test
  <code-editor></code-editor>

  <pre>
    SWAGGER/OAI:
    DEFINITIONS:
    PATHS:
      OPERATIONS:
    LANGUAGES:
      typescript
        1. base
        2. model interface
        3. api
        4. ui (security, routes, providers,...)
          4.1 parent (routes, providers, ...)
          4.2 item view (formbuilder input validation, ...)
          4.3 list (paging, sorting, filter, ...)
          4.4 routes?
  </pre>

  <!--2. model interface-->
  <ul>
    <li class="definition" *ngFor="#modelSchemaKeyValuePair of _specs.definitions | mapToIterable">
      2. model interface

      <br/> Comment Properties:
      <input type="checkbox" [(ngModel)]="_isCommentProperties" />

      <div>
        <pre><typescriptInterface [model]="modelSchemaKeyValuePair.value"
        [definitionName]="modelSchemaKeyValuePair.key"
        [isCommentProperties]="_isCommentProperties">
        </typescriptInterface></pre>
      </div>
    </li>
  </ul>

  <!--4.2 item (formbuilder input validation, ...)-->
  <ul>
    <li class="definition" *ngFor="#modelSchemaKeyValuePair of _specs.definitions | mapToIterable">
      4.2 item (formbuilder input validation, ...)

      <br/> Comment Properties:
      <input type="checkbox" [(ngModel)]="_isCommentProperties" />

      <div>
        <pre onclick="alert(this.innerHTML)"><itemView [model]="modelSchemaKeyValuePair.value"
        [definitionName]="modelSchemaKeyValuePair.key"
        [isCommentProperties]="_isCommentProperties">
        </itemView></pre>
      </div>
    </li>
  </ul>
</div>
