/// &lt;reference path="api.d.ts" /&gt;
'use strict';

interface {{_name}} {<template ngFor #propertyKeyValuePair [ngForOf]="_definition.properties| mapToIterable">
<template [ngIf]="_isCommentProperties">
  /*
   * {{propertyKeyValuePair.key | properCase }}<template [ngIf]="propertyKeyValuePair.value.description">
   * Description: {{propertyKeyValuePair.value.description}}</template><template [ngIf]="propertyKeyValuePair.value.format">
   * Format - {{propertyKeyValuePair.value.format}}</template>
   */</template>
  {{propertyKeyValuePair.key}}: {{propertyKeyValuePair.value.type}};</template>
}
