<div class="container">

  <!--<h1>Item</h1>-->
  <form (ngSubmit)="onSubmit()" #inventoryItemForm="ngForm">

    filter:
    <input [(ngModel)]="searchValue" (keyup)="filter()" placeholder="search value" />
    <button (click)="filter()" class="btn btn-primary">filter</button>

  <!--<div *ngFor="#value of _dataService.productList | values">{{value.productId}} 333 {{value}} {{key}} {{value | json}}</div>-->

    <div class="form-group">
      <label for="productId">Product</label>
      <select class="form-control" required [(ngModel)]="model.productId" ngControl="productId" #productId="ngForm">
        <option></option>
        <option *ngFor="#product of _dataService.productList" [value]="product.productId">{{product.name}}</option>
        <!--<option *ngFor="#product of _dataService.productList2 | values" [value]="product.productId">{{product.name}}</option>-->
      </select>
      <div [hidden]="productId.valid" class="alert alert-danger">
        Product is required
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" required [(ngModel)]="model.name" ngControl="name" #name="ngForm">
      <div [hidden]="name.valid" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="count">Count</label>
      <input type="number" class="form-control" required [(ngModel)]="model.count" ngControl="count" #count="ngForm">
      <div [hidden]="count.valid" class="alert alert-danger">
        Count is required
      </div>
    </div>

    <div class="form-group">
      <label for="par">Par</label>
      <input type="number" class="form-control" required [(ngModel)]="model.par" ngControl="par" #par="ngForm">
      <div [hidden]="par.valid" class="alert alert-danger">
        Par is required
      </div>
    </div>

    <button type="submit" [disabled]="!inventoryItemForm.form.valid" class="btn btn-primary">Submit</button>


    <!--<div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control"
          [(ngModel)]="model.alterEgo"
            ngControl="alterEgo" >
      </div>
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" required
          [(ngModel)]="model.power"
            ngControl="power" #power="ngForm" >
          <option *ngFor="#p of powers" [value]="p">{{p}}</option>
        </select>
        <div [hidden]="power.valid" class="alert alert-danger">
          Power is required
        </div>
      </div>-->
    <!--<button type="submit" class="btn btn-default"
          [disabled]="!#inventoryItemForm.form.valid">Submit</button>-->
  </form>

</div>