<div class="Inventory">
    <h1>INVENTORY</h1>

    <nav>

        <ul>
            <!--order-->
            <li router-active="active">
                <a [routerLink]=" ['InventoryImport'] ">Import Inventory</a>
            </li>
            <li router-active="active">
                <a [routerLink]=" ['InventoryList'] ">Inventory List</a>
            </li>
            <li router-active="active">
                <a [routerLink]=" ['InventoryItem', { id: 'new' }] ">Add</a>
            </li>
        </ul>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>

</div>