<div class="inventory-list">
    INVENTORY LIST


filter: <input [(ngModel)]="searchValue" (keyup)="filter()" /> <button (click)="filter()">filter</button>

    pager here
    
    <!--table-->
    <table class="table-striped">
        <thead class="thead-default">
            <tr>
                <th>actions</th>
                <th>id</th>
                <th>name</th>
                <th>count</th>
                <th>par</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#inventoryItemsViewItem of inventoryItemsView">
                <td>
                    <button (click)="edit(inventoryItemsViewItem.productId)">edit</button>
                    <button (click)="delete(inventoryItemsViewItem.productId)">delete</button>
                    <a [routerLink]=" ['InventoryItem', {id: inventoryItemsViewItem.productId}] ">Edit</a></td>
                <td>{{inventoryItemsViewItem.productId}}</td>
                <td>{{inventoryItemsViewItem.name}}</td>
                <td>{{inventoryItemsViewItem.count}}</td>
                <td>{{inventoryItemsViewItem.par}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>actions</th>
                <th>id</th>
                <th>name</th>
                <th>count</th>
                <th>par</th>
            </tr>
        </tfoot>
    </table>
    
    pager here

    <!--<div>inventoryItems:</div>
    <pre>
        {{inventoryItems | json}}
    </pre>

    <div>inventoryItems:</div>
    <pre>
        {{inventoryItems | json}}
    </pre>-->

</div>